{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{{ url_for('main.add_todo') }}">
    <input class="input-text" type="text" name="task" placeholder="Yeni bir iş ekle..." required>
    <button type="submit" class="animated-button">Ekle</button>

</form>

<ul>
    {% for todo in todos %}
    <li>
        <span style="text-decoration: {{ 'line-through' if todo.is_complete else 'none' }}">
            {{ todo.task }}
        </span>
        <a id="complete_btn" href="{{ url_for('main.complete_todo', todo_id=todo.id) }}" class="animated-link">
            {{ 'Tamamlandı' if not todo.is_complete else 'Geri Al' }}
        </a>
        
        <a id="delete_btn" class="animated-link-delete" href="{{ url_for('main.delete_todo', todo_id=todo.id) }}"><i class='bx bxs-trash-alt'></i></a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
