{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{{ url_for('main.add_todo') }}">
    <input class="todo-input" cl type="text" name="task" placeholder="New task!" required>
    <button type="submit" class="animated-button">Add</button>

</form>

<div class="container">
    <ul>
        {% for todo in todos %}
        <li>
            <div class="buttons">
                <a id="complete_btn" href="{{ url_for('main.complete_todo', todo_id=todo.id) }}" class="animated-link">
                    <i class="bx {{ 'bx-check' if not todo.is_complete else 'bx-undo' }}"></i>

                </a>
                
                <a id="delete_btn" class="animated-link-delete" href="{{ url_for('main.delete_todo', todo_id=todo.id) }}"><i class='bx bxs-trash-alt'></i></a>
            </div>
            <span class="created-at">
                {% if todo.created_at %}
                <i class='bx bxs-calendar-alt'></i> {{ todo.created_at.strftime('%Y-%m-%d') }} 
                {% else %}
                    Bilinmiyor
                {% endif %}
            </span>
            <span style="text-decoration: {{ 'line-through' if todo.is_complete else 'none' }}">
                {{ todo.task }}
            </span>
            
            
        </li>
        {% endfor %}
    </ul>
</div>
<div class="social-media-footer">
    <a href="https://github.com/ibrahimcelilseckin/todoapp" target="_blank">
        <img src="../static/img/github-mark-white.png" alt="Github" />
    </a>
    <span> Coding and Design: İbrahim Celil Seçkin </span>
    <a href="https://instagram.com/mr.iboow" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" alt="Instagram" />
    </a>
</div>


{% endblock %}
